.background-color{
    display: flex;
    align-items: center;
    min-height: 100vh;

}
.btn{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 350px;
    gap: 10px;
    height: 10vh;
    width: 110vh;
    border-radius: 15px;
}
.btn button{
    width: 80px;
    height: 40px;
    border-radius: 10px;
    margin-left: 10px;
    color: white;
    font-size: 15px;
    outline: none;

}